<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="30cdfc44-f87f-47b3-9353-6ad83eac3104" Name="MWT v1.6.8424.3407" Language="1033" Codepage="Windows-1252" Version="1.6.8424.3407" UpgradeCode="6fe30b47-2577-43ad-9095-1861ba25779b" Manufacturer="AVXTEC">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" InstallPrivileges="elevated" Languages="1033" />
    <Media Id="1" Cabinet="MWT20v1.6.8424.3407_.cab" EmbedCab="yes" />

    <Condition Message="requires .NET Framework 4.8 or higher."><![CDATA[WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED >= "#528040"]]></Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="AVXTEC" Name="AVXTEC">
          <Directory Id="INSTALLDIR" Name="MWT">

            <Component Id="Component.MWT_exe" Guid="30cdfc44-f87f-47b3-9353-6ad81fbe285e">
              <File Id="MWT_exe" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.exe">
                <Shortcut Id="Shortcut.MWT_exe.MWT20v1.6.8424.3407__" WorkingDirectory="INSTALLDIR" Directory="DesktopFolder" Name="MWT v1.6.8424.3407.lnk" Icon="IconFile1_MWT_square.ico" IconIndex="0" />
                <Shortcut Id="Shortcut.MWT_exe.MWT20v1.6.8424.3407.1" WorkingDirectory="INSTALLDIR" Directory="ProgramMenuFolder" Name="MWT v1.6.8424.3407.lnk" Icon="IconFile1_MWT_square.ico" IconIndex="0" />
              </File>

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Component Id="Component.AsyncEnumerable.dll_2829186025" Guid="30cdfc44-f87f-47b3-9353-6ad861e8ccd1">
              <File Id="AsyncEnumerable.dll_2829186025" Source="..\MifareWindowsTool\bin\Debug\AsyncEnumerable.dll" />
            </Component>

            <Component Id="Component.AsyncEnumerable.xml_3528593413" Guid="30cdfc44-f87f-47b3-9353-6ad867442875">
              <File Id="AsyncEnumerable.xml_3528593413" Source="..\MifareWindowsTool\bin\Debug\AsyncEnumerable.xml" />
            </Component>

            <Component Id="Component.CliWrap.dll_841102183" Guid="30cdfc44-f87f-47b3-9353-6ad8663966fe">
              <File Id="CliWrap.dll_841102183" Source="..\MifareWindowsTool\bin\Debug\CliWrap.dll" />
            </Component>

            <Component Id="Component.CliWrap.xml_828048851" Guid="30cdfc44-f87f-47b3-9353-6ad88c7d3ff0">
              <File Id="CliWrap.xml_828048851" Source="..\MifareWindowsTool\bin\Debug\CliWrap.xml" />
            </Component>

            <Component Id="Component.Gu.Localization.dll_3216497382" Guid="30cdfc44-f87f-47b3-9353-6ad8eee9b1ae">
              <File Id="Gu.Localization.dll_3216497382" Source="..\MifareWindowsTool\bin\Debug\Gu.Localization.dll" />
            </Component>

            <Component Id="Component.Gu.Localization.xml_2847213690" Guid="30cdfc44-f87f-47b3-9353-6ad84af136aa">
              <File Id="Gu.Localization.xml_2847213690" Source="..\MifareWindowsTool\bin\Debug\Gu.Localization.xml" />
            </Component>

            <Component Id="Component.Gu.Wpf.Localization.dll_2135661088" Guid="30cdfc44-f87f-47b3-9353-6ad8e58dc78b">
              <File Id="Gu.Wpf.Localization.dll_2135661088" Source="..\MifareWindowsTool\bin\Debug\Gu.Wpf.Localization.dll" />
            </Component>

            <Component Id="Component.Gu.Wpf.Localization.xml_1080023340" Guid="30cdfc44-f87f-47b3-9353-6ad8fca8cd53">
              <File Id="Gu.Wpf.Localization.xml_1080023340" Source="..\MifareWindowsTool\bin\Debug\Gu.Wpf.Localization.xml" />
            </Component>

            <Component Id="Component.ICSharpCode.AvalonEdit.dll_3567005094" Guid="30cdfc44-f87f-47b3-9353-6ad8309152d5">
              <File Id="ICSharpCode.AvalonEdit.dll_3567005094" Source="..\MifareWindowsTool\bin\Debug\ICSharpCode.AvalonEdit.dll" />
            </Component>

            <Component Id="Component.ICSharpCode.AvalonEdit.xml_839956747" Guid="30cdfc44-f87f-47b3-9353-6ad85d70e224">
              <File Id="ICSharpCode.AvalonEdit.xml_839956747" Source="..\MifareWindowsTool\bin\Debug\ICSharpCode.AvalonEdit.xml" />
            </Component>

            <Component Id="Component.Microsoft.Bcl.AsyncInterfaces.dll_264067612" Guid="30cdfc44-f87f-47b3-9353-6ad87e5b463b">
              <File Id="Microsoft.Bcl.AsyncInterfaces.dll_264067612" Source="..\MifareWindowsTool\bin\Debug\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>

            <Component Id="Component.Microsoft.Bcl.AsyncInterfaces.xml_264133176" Guid="30cdfc44-f87f-47b3-9353-6ad87e24a444">
              <File Id="Microsoft.Bcl.AsyncInterfaces.xml_264133176" Source="..\MifareWindowsTool\bin\Debug\Microsoft.Bcl.AsyncInterfaces.xml" />
            </Component>

            <Component Id="Component.MifareWindowsTool.exe_2386356362" Guid="30cdfc44-f87f-47b3-9353-6ad8a342a17f">
              <File Id="MifareWindowsTool.exe_2386356362" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.exe" />
            </Component>

            <Component Id="Component.MifareWindowsTool.exe.config_774985493" Guid="30cdfc44-f87f-47b3-9353-6ad8a8f9b3f0">
              <File Id="MifareWindowsTool.exe.config_774985493" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.exe.config" />
            </Component>

            <Component Id="Component.MifareWindowsTool.pdb_1628152206" Guid="30cdfc44-f87f-47b3-9353-6ad8d79e0201">
              <File Id="MifareWindowsTool.pdb_1628152206" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.pdb" />
            </Component>

            <Component Id="Component.Newtonsoft.Json.dll_2417442108" Guid="30cdfc44-f87f-47b3-9353-6ad8e6ae1df7">
              <File Id="Newtonsoft.Json.dll_2417442108" Source="..\MifareWindowsTool\bin\Debug\Newtonsoft.Json.dll" />
            </Component>

            <Component Id="Component.Newtonsoft.Json.xml_1361804360" Guid="30cdfc44-f87f-47b3-9353-6ad8023c40b4">
              <File Id="Newtonsoft.Json.xml_1361804360" Source="..\MifareWindowsTool\bin\Debug\Newtonsoft.Json.xml" />
            </Component>

            <Component Id="Component.ORMi.dll_449432148" Guid="30cdfc44-f87f-47b3-9353-6ad825e67211">
              <File Id="ORMi.dll_449432148" Source="..\MifareWindowsTool\bin\Debug\ORMi.dll" />
            </Component>

            <Component Id="Component.ORMi.pdb_2743585372" Guid="30cdfc44-f87f-47b3-9353-6ad8d71e72a5">
              <File Id="ORMi.pdb_2743585372" Source="..\MifareWindowsTool\bin\Debug\ORMi.pdb" />
            </Component>

            <Component Id="Component.ORMi.xml_1214106197" Guid="30cdfc44-f87f-47b3-9353-6ad83dbd9f06">
              <File Id="ORMi.xml_1214106197" Source="..\MifareWindowsTool\bin\Debug\ORMi.xml" />
            </Component>

            <Component Id="Component.PCSC.dll_332876577" Guid="30cdfc44-f87f-47b3-9353-6ad8c28d46c5">
              <File Id="PCSC.dll_332876577" Source="..\MifareWindowsTool\bin\Debug\PCSC.dll" />
            </Component>

            <Component Id="Component.PCSC.pdb_804342569" Guid="30cdfc44-f87f-47b3-9353-6ad8bb5167ec">
              <File Id="PCSC.pdb_804342569" Source="..\MifareWindowsTool\bin\Debug\PCSC.pdb" />
            </Component>

            <Component Id="Component.PCSC.xml_3570092834" Guid="30cdfc44-f87f-47b3-9353-6ad864ed5ab8">
              <File Id="PCSC.xml_3570092834" Source="..\MifareWindowsTool\bin\Debug\PCSC.xml" />
            </Component>

            <Component Id="Component.System.Buffers.dll_1368819806" Guid="30cdfc44-f87f-47b3-9353-6ad83c221589">
              <File Id="System.Buffers.dll_1368819806" Source="..\MifareWindowsTool\bin\Debug\System.Buffers.dll" />
            </Component>

            <Component Id="Component.System.Buffers.xml_4096916729" Guid="30cdfc44-f87f-47b3-9353-6ad8cd0452e6">
              <File Id="System.Buffers.xml_4096916729" Source="..\MifareWindowsTool\bin\Debug\System.Buffers.xml" />
            </Component>

            <Component Id="Component.System.Memory.dll_848212580" Guid="30cdfc44-f87f-47b3-9353-6ad8ef3a28c2">
              <File Id="System.Memory.dll_848212580" Source="..\MifareWindowsTool\bin\Debug\System.Memory.dll" />
            </Component>

            <Component Id="Component.System.Memory.xml_848147032" Guid="30cdfc44-f87f-47b3-9353-6ad88bbe9fce">
              <File Id="System.Memory.xml_848147032" Source="..\MifareWindowsTool\bin\Debug\System.Memory.xml" />
            </Component>

            <Component Id="Component.System.Numerics.Vectors.dll_3196498503" Guid="30cdfc44-f87f-47b3-9353-6ad84dff17c1">
              <File Id="System.Numerics.Vectors.dll_3196498503" Source="..\MifareWindowsTool\bin\Debug\System.Numerics.Vectors.dll" />
            </Component>

            <Component Id="Component.System.Numerics.Vectors.xml_2497091115" Guid="30cdfc44-f87f-47b3-9353-6ad8453f4ab5">
              <File Id="System.Numerics.Vectors.xml_2497091115" Source="..\MifareWindowsTool\bin\Debug\System.Numerics.Vectors.xml" />
            </Component>

            <Component Id="Component.System.Reactive.dll_2853899567" Guid="30cdfc44-f87f-47b3-9353-6ad89c5c1878">
              <File Id="System.Reactive.dll_2853899567" Source="..\MifareWindowsTool\bin\Debug\System.Reactive.dll" />
            </Component>

            <Component Id="Component.System.Reactive.xml_2128385515" Guid="30cdfc44-f87f-47b3-9353-6ad80156db9d">
              <File Id="System.Reactive.xml_2128385515" Source="..\MifareWindowsTool\bin\Debug\System.Reactive.xml" />
            </Component>

            <Component Id="Component.System.Runtime.CompilerServices.Unsafe.dll_1261586495" Guid="30cdfc44-f87f-47b3-9353-6ad82116e385">
              <File Id="System.Runtime.CompilerServices.Unsafe.dll_1261586495" Source="..\MifareWindowsTool\bin\Debug\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>

            <Component Id="Component.System.Runtime.CompilerServices.Unsafe.xml_3989159130" Guid="30cdfc44-f87f-47b3-9353-6ad8b2b2b160">
              <File Id="System.Runtime.CompilerServices.Unsafe.xml_3989159130" Source="..\MifareWindowsTool\bin\Debug\System.Runtime.CompilerServices.Unsafe.xml" />
            </Component>

            <Component Id="Component.System.Security.Principal.Windows.dll_4083139181" Guid="30cdfc44-f87f-47b3-9353-6ad8f10992a6">
              <File Id="System.Security.Principal.Windows.dll_4083139181" Source="..\MifareWindowsTool\bin\Debug\System.Security.Principal.Windows.dll" />
            </Component>

            <Component Id="Component.System.Threading.Tasks.Extensions.dll_2162503164" Guid="30cdfc44-f87f-47b3-9353-6ad84fad68cb">
              <File Id="System.Threading.Tasks.Extensions.dll_2162503164" Source="..\MifareWindowsTool\bin\Debug\System.Threading.Tasks.Extensions.dll" />
            </Component>

            <Component Id="Component.System.Threading.Tasks.Extensions.xml_2162437632" Guid="30cdfc44-f87f-47b3-9353-6ad8a348cb1e">
              <File Id="System.Threading.Tasks.Extensions.xml_2162437632" Source="..\MifareWindowsTool\bin\Debug\System.Threading.Tasks.Extensions.xml" />
            </Component>

            <Component Id="Component.System.ValueTuple.dll_3269546318" Guid="30cdfc44-f87f-47b3-9353-6ad83ac51aae">
              <File Id="System.ValueTuple.dll_3269546318" Source="..\MifareWindowsTool\bin\Debug\System.ValueTuple.dll" />
            </Component>

            <Component Id="Component.System.ValueTuple.xml_3269480786" Guid="30cdfc44-f87f-47b3-9353-6ad8e70c3459">
              <File Id="System.ValueTuple.xml_3269480786" Source="..\MifareWindowsTool\bin\Debug\System.ValueTuple.xml" />
            </Component>

            <Component Id="Component.WPFHexaEditor.dll_322815451" Guid="30cdfc44-f87f-47b3-9353-6ad86a733319">
              <File Id="WPFHexaEditor.dll_322815451" Source="..\MifareWindowsTool\bin\Debug\WPFHexaEditor.dll" />
            </Component>

            <Component Id="Component.WPFHexaEditor.pdb_3099277241" Guid="30cdfc44-f87f-47b3-9353-6ad8eb825663">
              <File Id="WPFHexaEditor.pdb_3099277241" Source="..\MifareWindowsTool\bin\Debug\WPFHexaEditor.pdb" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.dll_244078882" Guid="30cdfc44-f87f-47b3-9353-6ad8a40a02b3">
              <File Id="Xceed.Wpf.AvalonDock.dll_244078882" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.Aero.dll_399206933" Guid="30cdfc44-f87f-47b3-9353-6ad8947396a6">
              <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll_399206933" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.Metro.dll_4238280944" Guid="30cdfc44-f87f-47b3-9353-6ad8b8ef7a40">
              <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll_4238280944" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.VS2010.dll_2605396374" Guid="30cdfc44-f87f-47b3-9353-6ad8da6d49e3">
              <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll_2605396374" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.Toolkit.dll_1117705406" Guid="30cdfc44-f87f-47b3-9353-6ad813dcf90e">
              <File Id="Xceed.Wpf.Toolkit.dll_1117705406" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.Toolkit.dll" />
            </Component>

            <Directory Id="ACR122_LibUsbK_Driver" Name="ACR122_LibUsbK_Driver">

              <Component Id="Component.dpinst64.exe_1136780582" Guid="30cdfc44-f87f-47b3-9353-6ad8f479cc7d">
                <File Id="dpinst64.exe_1136780582" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\dpinst64.exe" />
              </Component>

            </Directory>

            <Directory Id="cs2dCZ" Name="cs-CZ">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2850606913" Guid="30cdfc44-f87f-47b3-9353-6ad87a75c6e8">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_2850606913" Source="..\MifareWindowsTool\bin\Debug\cs-CZ\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="de" Name="de">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2005104878" Guid="30cdfc44-f87f-47b3-9353-6ad8dc77d813">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_2005104878" Source="..\MifareWindowsTool\bin\Debug\de\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="dumps" Name="dumps">

              <Component Id="Component.blank_tag.dump_2225368576" Guid="30cdfc44-f87f-47b3-9353-6ad899390d1a">
                <File Id="blank_tag.dump_2225368576" Source="..\MifareWindowsTool\bin\Debug\dumps\blank_tag.dump" />
              </Component>

              <Component Id="Component.Dump_01234567.mfd_594869460" Guid="30cdfc44-f87f-47b3-9353-6ad8e1e06df6">
                <File Id="Dump_01234567.mfd_594869460" Source="..\MifareWindowsTool\bin\Debug\dumps\Dump_01234567.mfd" />
              </Component>

              <Component Id="Component.Dump_12345678.mfd_2201820320" Guid="30cdfc44-f87f-47b3-9353-6ad8d023d7b5">
                <File Id="Dump_12345678.mfd_2201820320" Source="..\MifareWindowsTool\bin\Debug\dumps\Dump_12345678.mfd" />
              </Component>

              <Component Id="Component.Dump_9A00D612.mfd_548602535" Guid="30cdfc44-f87f-47b3-9353-6ad81758152b">
                <File Id="Dump_9A00D612.mfd_548602535" Source="..\MifareWindowsTool\bin\Debug\dumps\Dump_9A00D612.mfd" />
              </Component>

            </Directory>

            <Directory Id="es" Name="es">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2471760677" Guid="30cdfc44-f87f-47b3-9353-6ad8ed9cc8c0">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_2471760677" Source="..\MifareWindowsTool\bin\Debug\es\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="fr" Name="fr">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_1281904291" Guid="30cdfc44-f87f-47b3-9353-6ad8066fe34e">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_1281904291" Source="..\MifareWindowsTool\bin\Debug\fr\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="fr2dCA" Name="fr-CA">

              <Component Id="Component.WPFHexaEditor.resources.dll_2255588127" Guid="30cdfc44-f87f-47b3-9353-6ad8a0568098">
                <File Id="WPFHexaEditor.resources.dll_2255588127" Source="..\MifareWindowsTool\bin\Debug\fr-CA\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="fr2dFR" Name="fr-FR">

              <Component Id="Component.MifareWindowsTool.resources.dll_2099716102" Guid="30cdfc44-f87f-47b3-9353-6ad843bbf6b1">
                <File Id="MifareWindowsTool.resources.dll_2099716102" Source="..\MifareWindowsTool\bin\Debug\fr-FR\MifareWindowsTool.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="hu" Name="hu">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2066800171" Guid="30cdfc44-f87f-47b3-9353-6ad8c3d5f220">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_2066800171" Source="..\MifareWindowsTool\bin\Debug\hu\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="it" Name="it">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_459912763" Guid="30cdfc44-f87f-47b3-9353-6ad88279bfd6">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_459912763" Source="..\MifareWindowsTool\bin\Debug\it\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="ja2dJP" Name="ja-JP">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2873365257" Guid="30cdfc44-f87f-47b3-9353-6ad84d2231de">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_2873365257" Source="..\MifareWindowsTool\bin\Debug\ja-JP\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="keys" Name="keys">

              <Component Id="Component.extended2dstd.keys_263183955" Guid="30cdfc44-f87f-47b3-9353-6ad8665106ec">
                <File Id="extended2dstd.keys_263183955" Source="..\MifareWindowsTool\bin\Debug\keys\extended-std.keys" />
              </Component>

              <Component Id="Component.french.keys_1316668140" Guid="30cdfc44-f87f-47b3-9353-6ad8fbd4b9c7">
                <File Id="french.keys_1316668140" Source="..\MifareWindowsTool\bin\Debug\keys\french.keys" />
              </Component>

              <Component Id="Component.std.keys_4014802062" Guid="30cdfc44-f87f-47b3-9353-6ad8cdfaadcf">
                <File Id="std.keys_4014802062" Source="..\MifareWindowsTool\bin\Debug\keys\std.keys" />
              </Component>

            </Directory>

            <Directory Id="nfctools_pcsc" Name="nfctools_pcsc">

              <Component Id="Component.liblzma.dll_3749414857" Guid="30cdfc44-f87f-47b3-9353-6ad8e83cb76d">
                <File Id="liblzma.dll_3749414857" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\liblzma.dll" />
              </Component>

              <Component Id="Component.libnfc.conf_1143336871" Guid="30cdfc44-f87f-47b3-9353-6ad857600ab7">
                <File Id="libnfc.conf_1143336871" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\libnfc.conf" />
              </Component>

              <Component Id="Component.libusb2d1.0.dll_394539822" Guid="30cdfc44-f87f-47b3-9353-6ad80e516b8d">
                <File Id="libusb2d1.0.dll_394539822" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\libusb-1.0.dll" />
              </Component>

              <Component Id="Component.mfcuk.exe_543206235" Guid="30cdfc44-f87f-47b3-9353-6ad83d8a7761">
                <File Id="mfcuk.exe_543206235" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\mfcuk.exe" />
              </Component>

              <Component Id="Component.mfoc2dhardnested.exe_2149250357" Guid="30cdfc44-f87f-47b3-9353-6ad8b3a50a62">
                <File Id="mfoc2dhardnested.exe_2149250357" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\mfoc-hardnested.exe" />
              </Component>

              <Component Id="Component.nfc2danticol.exe_2064581204" Guid="30cdfc44-f87f-47b3-9353-6ad826b3e353">
                <File Id="nfc2danticol.exe_2064581204" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-anticol.exe" />
              </Component>

              <Component Id="Component.nfc2dbarcode.exe_48270266" Guid="30cdfc44-f87f-47b3-9353-6ad87340eb66">
                <File Id="nfc2dbarcode.exe_48270266" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-barcode.exe" />
              </Component>

              <Component Id="Component.nfc2ddep2dinitiator.exe_3271657366" Guid="30cdfc44-f87f-47b3-9353-6ad8d3b82388">
                <File Id="nfc2ddep2dinitiator.exe_3271657366" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-dep-initiator.exe" />
              </Component>

              <Component Id="Component.nfc2ddep2dtarget.exe_1512307999" Guid="30cdfc44-f87f-47b3-9353-6ad827d0420e">
                <File Id="nfc2ddep2dtarget.exe_1512307999" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-dep-target.exe" />
              </Component>

              <Component Id="Component.nfc2ddetect2dchinese2dmagic2dcard.exe_1901096182" Guid="30cdfc44-f87f-47b3-9353-6ad80128772d">
                <File Id="nfc2ddetect2dchinese2dmagic2dcard.exe_1901096182" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-detect-chinese-magic-card.exe" />
              </Component>

              <Component Id="Component.nfc2demulate2dforum2dtag2.exe_3150295610" Guid="30cdfc44-f87f-47b3-9353-6ad80c40202c">
                <File Id="nfc2demulate2dforum2dtag2.exe_3150295610" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-emulate-forum-tag2.exe" />
              </Component>

              <Component Id="Component.nfc2demulate2dforum2dtag4.exe_3647189562" Guid="30cdfc44-f87f-47b3-9353-6ad86117304f">
                <File Id="nfc2demulate2dforum2dtag4.exe_3647189562" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-emulate-forum-tag4.exe" />
              </Component>

              <Component Id="Component.nfc2demulate2dtag.exe_2558374055" Guid="30cdfc44-f87f-47b3-9353-6ad8ddc16acf">
                <File Id="nfc2demulate2dtag.exe_2558374055" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-emulate-tag.exe" />
              </Component>

              <Component Id="Component.nfc2demulate2duid.exe_3704755769" Guid="30cdfc44-f87f-47b3-9353-6ad8ba762e03">
                <File Id="nfc2demulate2duid.exe_3704755769" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-emulate-uid.exe" />
              </Component>

              <Component Id="Component.nfc2djewel.exe_1061404449" Guid="30cdfc44-f87f-47b3-9353-6ad8048cf9ee">
                <File Id="nfc2djewel.exe_1061404449" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-jewel.exe" />
              </Component>

              <Component Id="Component.nfc2dlist.exe_2195983561" Guid="30cdfc44-f87f-47b3-9353-6ad82e8299d6">
                <File Id="nfc2dlist.exe_2195983561" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-list.exe" />
              </Component>

              <Component Id="Component.nfc2dmfclassic.exe_2664916179" Guid="30cdfc44-f87f-47b3-9353-6ad8caa55125">
                <File Id="nfc2dmfclassic.exe_2664916179" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-mfclassic.exe" />
              </Component>

              <Component Id="Component.nfc2dmfsetuid.exe_4277773174" Guid="30cdfc44-f87f-47b3-9353-6ad85d2ad952">
                <File Id="nfc2dmfsetuid.exe_4277773174" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-mfsetuid.exe" />
              </Component>

              <Component Id="Component.nfc2dmfultralight.exe_275984090" Guid="30cdfc44-f87f-47b3-9353-6ad8cdd2c552">
                <File Id="nfc2dmfultralight.exe_275984090" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-mfultralight.exe" />
              </Component>

              <Component Id="Component.nfc2dpoll.exe_3447468566" Guid="30cdfc44-f87f-47b3-9353-6ad86fac919e">
                <File Id="nfc2dpoll.exe_3447468566" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-poll.exe" />
              </Component>

              <Component Id="Component.nfc2dread2dforum2dtag3.exe_1147370873" Guid="30cdfc44-f87f-47b3-9353-6ad812d5f904">
                <File Id="nfc2dread2dforum2dtag3.exe_1147370873" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-read-forum-tag3.exe" />
              </Component>

              <Component Id="Component.nfc2drelay2dpicc.exe_1029327958" Guid="30cdfc44-f87f-47b3-9353-6ad83f38c028">
                <File Id="nfc2drelay2dpicc.exe_1029327958" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-relay-picc.exe" />
              </Component>

              <Component Id="Component.nfc2drelay.exe_2370392749" Guid="30cdfc44-f87f-47b3-9353-6ad836e031a2">
                <File Id="nfc2drelay.exe_2370392749" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-relay.exe" />
              </Component>

              <Component Id="Component.nfc2dscan2ddevice.exe_1705255848" Guid="30cdfc44-f87f-47b3-9353-6ad8c69c47d4">
                <File Id="nfc2dscan2ddevice.exe_1705255848" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-scan-device.exe" />
              </Component>

              <Component Id="Component.nfc2dst25tb.exe_3142922129" Guid="30cdfc44-f87f-47b3-9353-6ad8c7988efe">
                <File Id="nfc2dst25tb.exe_3142922129" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc-st25tb.exe" />
              </Component>

              <Component Id="Component.nfc.dll_1300597841" Guid="30cdfc44-f87f-47b3-9353-6ad84c027cb5">
                <File Id="nfc.dll_1300597841" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\nfc.dll" />
              </Component>

              <Component Id="Component.pn53x2ddiagnose.exe_617949833" Guid="30cdfc44-f87f-47b3-9353-6ad87c179b02">
                <File Id="pn53x2ddiagnose.exe_617949833" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\pn53x-diagnose.exe" />
              </Component>

              <Component Id="Component.pn53x2dsam.exe_1333422983" Guid="30cdfc44-f87f-47b3-9353-6ad8033e47d0">
                <File Id="pn53x2dsam.exe_1333422983" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\pn53x-sam.exe" />
              </Component>

              <Component Id="Component.pn53x2dtamashell.exe_4274119619" Guid="30cdfc44-f87f-47b3-9353-6ad8274b35de">
                <File Id="pn53x2dtamashell.exe_4274119619" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\pn53x-tamashell.exe" />
              </Component>

              <Component Id="Component.pthreadVSE3.dll_3348522708" Guid="30cdfc44-f87f-47b3-9353-6ad85baca9a4">
                <File Id="pthreadVSE3.dll_3348522708" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\pthreadVSE3.dll" />
              </Component>

              <Component Id="Component.Template_Flipper_1K.nfc_1627691400" Guid="30cdfc44-f87f-47b3-9353-6ad8aeb7eeb6">
                <File Id="Template_Flipper_1K.nfc_1627691400" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\Template_Flipper_1K.nfc" />
              </Component>

              <Component Id="Component.Template_Flipper_NTAG213.nfc_3339526651" Guid="30cdfc44-f87f-47b3-9353-6ad8a1655977">
                <File Id="Template_Flipper_NTAG213.nfc_3339526651" Source="..\MifareWindowsTool\bin\Debug\nfctools_pcsc\Template_Flipper_NTAG213.nfc" />
              </Component>

            </Directory>

            <Directory Id="pl2dPL" Name="pl-PL">

              <Component Id="Component.WPFHexaEditor.resources.dll_4240731684" Guid="30cdfc44-f87f-47b3-9353-6ad81292dea8">
                <File Id="WPFHexaEditor.resources.dll_4240731684" Source="..\MifareWindowsTool\bin\Debug\pl-PL\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="pt2dBR" Name="pt-BR">

              <Component Id="Component.WPFHexaEditor.resources.dll_3104124833" Guid="30cdfc44-f87f-47b3-9353-6ad88c60f65b">
                <File Id="WPFHexaEditor.resources.dll_3104124833" Source="..\MifareWindowsTool\bin\Debug\pt-BR\WPFHexaEditor.resources.dll" />
              </Component>

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3881696941" Guid="30cdfc44-f87f-47b3-9353-6ad8af4528e0">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_3881696941" Source="..\MifareWindowsTool\bin\Debug\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="Resources" Name="Resources">

              <Component Id="Component.EBCDIC2dNoSpecialChar.tbl_3693588519" Guid="30cdfc44-f87f-47b3-9353-6ad85b81e01f">
                <File Id="EBCDIC2dNoSpecialChar.tbl_3693588519" Source="..\MifareWindowsTool\bin\Debug\Resources\EBCDIC-NoSpecialChar.tbl" />
              </Component>

              <Component Id="Component.EBCDIC.tbl_1501383122" Guid="30cdfc44-f87f-47b3-9353-6ad85305ca3d">
                <File Id="EBCDIC.tbl_1501383122" Source="..\MifareWindowsTool\bin\Debug\Resources\EBCDIC.tbl" />
              </Component>

              <Component Id="Component.MWT.ico_2238545676" Guid="30cdfc44-f87f-47b3-9353-6ad8075dfc65">
                <File Id="MWT.ico_2238545676" Source="..\MifareWindowsTool\bin\Debug\Resources\MWT.ico" />
              </Component>

            </Directory>

            <Directory Id="ro" Name="ro">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3577022017" Guid="30cdfc44-f87f-47b3-9353-6ad8aac85593">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_3577022017" Source="..\MifareWindowsTool\bin\Debug\ro\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="ru" Name="ru">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3290703896" Guid="30cdfc44-f87f-47b3-9353-6ad8b3e95850">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_3290703896" Source="..\MifareWindowsTool\bin\Debug\ru\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="ru2dRU" Name="ru-RU">

              <Component Id="Component.WPFHexaEditor.resources.dll_3789388670" Guid="30cdfc44-f87f-47b3-9353-6ad8eae0e579">
                <File Id="WPFHexaEditor.resources.dll_3789388670" Source="..\MifareWindowsTool\bin\Debug\ru-RU\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="sv" Name="sv">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3453850975" Guid="30cdfc44-f87f-47b3-9353-6ad87aa262e6">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_3453850975" Source="..\MifareWindowsTool\bin\Debug\sv\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="zh2dCN" Name="zh-CN">

              <Component Id="Component.WPFHexaEditor.resources.dll_1515340923" Guid="30cdfc44-f87f-47b3-9353-6ad820a71b45">
                <File Id="WPFHexaEditor.resources.dll_1515340923" Source="..\MifareWindowsTool\bin\Debug\zh-CN\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="zh2dHans" Name="zh-Hans">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_4176201398" Guid="30cdfc44-f87f-47b3-9353-6ad82d7fd010">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_4176201398" Source="..\MifareWindowsTool\bin\Debug\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder">

        <Component Id="Component.DesktopFolder.EmptyDirectory" Guid="30cdfc44-f87f-47b3-9353-6ad87dc6d20a">
          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">

        <Component Id="Component.ProgramMenuFolder.EmptyDirectory" Guid="30cdfc44-f87f-47b3-9353-6ad8906eb229">
          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Component Id="TARGETDIR" Guid="30cdfc44-f87f-47b3-9353-6ad8b17ca177" KeyPath="yes">
        <CreateFolder />
        <RemoveFolder Id="TARGETDIR" On="uninstall" />
      </Component>

    </Directory>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />

    <UI />

    <Icon Id="app_icon.ico" SourceFile="..\MifareWindowsTool\MWT_square.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="G:\work\Mifare-Windows-Tool\MifareWindowsTool\bnr_MWT.png" />
    <WixVariable Id="WixUIDialogBmp" Value="G:\work\Mifare-Windows-Tool\MifareWindowsTool\dlg_MWT.png" />

    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallInitialize" />

    <UI>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="5">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="5">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Icon Id="IconFile1_MWT_square.ico" SourceFile="..\MifareWindowsTool\MWT_square.ico" />

    <CustomAction Id="MWT_exe" ExeCommand="" FileKey="MWT_exe" Return="asyncNoWait" Execute="immediate" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="ARPCONTACT" Value="AVXTEC" />
    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/xavave/Mifare-Windows-Tool" />
    <Property Id="REINSTALLMODE" Value="omus" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Mifare Windows Tool (MWT)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#MWT_exe]" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Feature Id="MWT20Binaries" Title="MWT Binaries" Absent="allow" Level="1">
      <ComponentRef Id="Component.MWT_exe" />
      <ComponentRef Id="TARGETDIR" />
    </Feature>

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.AsyncEnumerable.dll_2829186025" />
      <ComponentRef Id="Component.AsyncEnumerable.xml_3528593413" />
      <ComponentRef Id="Component.CliWrap.dll_841102183" />
      <ComponentRef Id="Component.CliWrap.xml_828048851" />
      <ComponentRef Id="Component.Gu.Localization.dll_3216497382" />
      <ComponentRef Id="Component.Gu.Localization.xml_2847213690" />
      <ComponentRef Id="Component.Gu.Wpf.Localization.dll_2135661088" />
      <ComponentRef Id="Component.Gu.Wpf.Localization.xml_1080023340" />
      <ComponentRef Id="Component.ICSharpCode.AvalonEdit.dll_3567005094" />
      <ComponentRef Id="Component.ICSharpCode.AvalonEdit.xml_839956747" />
      <ComponentRef Id="Component.Microsoft.Bcl.AsyncInterfaces.dll_264067612" />
      <ComponentRef Id="Component.Microsoft.Bcl.AsyncInterfaces.xml_264133176" />
      <ComponentRef Id="Component.MifareWindowsTool.exe_2386356362" />
      <ComponentRef Id="Component.MifareWindowsTool.exe.config_774985493" />
      <ComponentRef Id="Component.MifareWindowsTool.pdb_1628152206" />
      <ComponentRef Id="Component.Newtonsoft.Json.dll_2417442108" />
      <ComponentRef Id="Component.Newtonsoft.Json.xml_1361804360" />
      <ComponentRef Id="Component.ORMi.dll_449432148" />
      <ComponentRef Id="Component.ORMi.pdb_2743585372" />
      <ComponentRef Id="Component.ORMi.xml_1214106197" />
      <ComponentRef Id="Component.PCSC.dll_332876577" />
      <ComponentRef Id="Component.PCSC.pdb_804342569" />
      <ComponentRef Id="Component.PCSC.xml_3570092834" />
      <ComponentRef Id="Component.System.Buffers.dll_1368819806" />
      <ComponentRef Id="Component.System.Buffers.xml_4096916729" />
      <ComponentRef Id="Component.System.Memory.dll_848212580" />
      <ComponentRef Id="Component.System.Memory.xml_848147032" />
      <ComponentRef Id="Component.System.Numerics.Vectors.dll_3196498503" />
      <ComponentRef Id="Component.System.Numerics.Vectors.xml_2497091115" />
      <ComponentRef Id="Component.System.Reactive.dll_2853899567" />
      <ComponentRef Id="Component.System.Reactive.xml_2128385515" />
      <ComponentRef Id="Component.System.Runtime.CompilerServices.Unsafe.dll_1261586495" />
      <ComponentRef Id="Component.System.Runtime.CompilerServices.Unsafe.xml_3989159130" />
      <ComponentRef Id="Component.System.Security.Principal.Windows.dll_4083139181" />
      <ComponentRef Id="Component.System.Threading.Tasks.Extensions.dll_2162503164" />
      <ComponentRef Id="Component.System.Threading.Tasks.Extensions.xml_2162437632" />
      <ComponentRef Id="Component.System.ValueTuple.dll_3269546318" />
      <ComponentRef Id="Component.System.ValueTuple.xml_3269480786" />
      <ComponentRef Id="Component.WPFHexaEditor.dll_322815451" />
      <ComponentRef Id="Component.WPFHexaEditor.pdb_3099277241" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.dll_244078882" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.Aero.dll_399206933" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.Metro.dll_4238280944" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.VS2010.dll_2605396374" />
      <ComponentRef Id="Component.Xceed.Wpf.Toolkit.dll_1117705406" />
      <ComponentRef Id="Component.dpinst64.exe_1136780582" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2850606913" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2005104878" />
      <ComponentRef Id="Component.blank_tag.dump_2225368576" />
      <ComponentRef Id="Component.Dump_01234567.mfd_594869460" />
      <ComponentRef Id="Component.Dump_12345678.mfd_2201820320" />
      <ComponentRef Id="Component.Dump_9A00D612.mfd_548602535" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2471760677" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_1281904291" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_2255588127" />
      <ComponentRef Id="Component.MifareWindowsTool.resources.dll_2099716102" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2066800171" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_459912763" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2873365257" />
      <ComponentRef Id="Component.extended2dstd.keys_263183955" />
      <ComponentRef Id="Component.french.keys_1316668140" />
      <ComponentRef Id="Component.std.keys_4014802062" />
      <ComponentRef Id="Component.liblzma.dll_3749414857" />
      <ComponentRef Id="Component.libnfc.conf_1143336871" />
      <ComponentRef Id="Component.libusb2d1.0.dll_394539822" />
      <ComponentRef Id="Component.mfcuk.exe_543206235" />
      <ComponentRef Id="Component.mfoc2dhardnested.exe_2149250357" />
      <ComponentRef Id="Component.nfc2danticol.exe_2064581204" />
      <ComponentRef Id="Component.nfc2dbarcode.exe_48270266" />
      <ComponentRef Id="Component.nfc2ddep2dinitiator.exe_3271657366" />
      <ComponentRef Id="Component.nfc2ddep2dtarget.exe_1512307999" />
      <ComponentRef Id="Component.nfc2ddetect2dchinese2dmagic2dcard.exe_1901096182" />
      <ComponentRef Id="Component.nfc2demulate2dforum2dtag2.exe_3150295610" />
      <ComponentRef Id="Component.nfc2demulate2dforum2dtag4.exe_3647189562" />
      <ComponentRef Id="Component.nfc2demulate2dtag.exe_2558374055" />
      <ComponentRef Id="Component.nfc2demulate2duid.exe_3704755769" />
      <ComponentRef Id="Component.nfc2djewel.exe_1061404449" />
      <ComponentRef Id="Component.nfc2dlist.exe_2195983561" />
      <ComponentRef Id="Component.nfc2dmfclassic.exe_2664916179" />
      <ComponentRef Id="Component.nfc2dmfsetuid.exe_4277773174" />
      <ComponentRef Id="Component.nfc2dmfultralight.exe_275984090" />
      <ComponentRef Id="Component.nfc2dpoll.exe_3447468566" />
      <ComponentRef Id="Component.nfc2dread2dforum2dtag3.exe_1147370873" />
      <ComponentRef Id="Component.nfc2drelay2dpicc.exe_1029327958" />
      <ComponentRef Id="Component.nfc2drelay.exe_2370392749" />
      <ComponentRef Id="Component.nfc2dscan2ddevice.exe_1705255848" />
      <ComponentRef Id="Component.nfc2dst25tb.exe_3142922129" />
      <ComponentRef Id="Component.nfc.dll_1300597841" />
      <ComponentRef Id="Component.pn53x2ddiagnose.exe_617949833" />
      <ComponentRef Id="Component.pn53x2dsam.exe_1333422983" />
      <ComponentRef Id="Component.pn53x2dtamashell.exe_4274119619" />
      <ComponentRef Id="Component.pthreadVSE3.dll_3348522708" />
      <ComponentRef Id="Component.Template_Flipper_1K.nfc_1627691400" />
      <ComponentRef Id="Component.Template_Flipper_NTAG213.nfc_3339526651" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_4240731684" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_3104124833" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3881696941" />
      <ComponentRef Id="Component.EBCDIC2dNoSpecialChar.tbl_3693588519" />
      <ComponentRef Id="Component.EBCDIC.tbl_1501383122" />
      <ComponentRef Id="Component.MWT.ico_2238545676" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3577022017" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3290703896" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_3789388670" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3453850975" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_1515340923" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_4176201398" />
      <ComponentRef Id="Component.DesktopFolder.EmptyDirectory" />
      <ComponentRef Id="Component.ProgramMenuFolder.EmptyDirectory" />
      <ComponentRef Id="TARGETDIR" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="MWT_exe" After="InstallExecute"> (NOT Installed) </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>

