<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="073f9241-dede-4c5d-9dff-ae336bec7537" Name="MWT v1.0.8030.24534" Language="1033" Codepage="Windows-1252" Version="1.0.8030.24534" UpgradeCode="6fe30b47-2577-43ad-9095-1861ba25779b" Manufacturer="AVXTEC">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="Windows-1252" Languages="1033" />
    <Media Id="1" Cabinet="MWT_v1.0.8030.24534_.cab" EmbedCab="yes" />

    <Condition Message="requires .NET Framework 4.8 or higher."><![CDATA[WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED >= "#528040"]]></Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="ProgramFilesFolder.AVXTEC" Name="AVXTEC">
          <Directory Id="INSTALLDIR" Name="MWT">

            <Component Id="Component.MWT_exe" Guid="073f9241-dede-4c5d-9dff-ae334cfe6c91">
              <File Id="MWT_exe" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.exe">
                <Shortcut Id="Shortcut.MWT_exe.MWT_v1.0.8030.24534__" WorkingDirectory="INSTALLDIR" Directory="DesktopFolder" Name="MWT v1.0.8030.24534.lnk" Icon="IconFile1_MWT.ico" IconIndex="0" />
                <Shortcut Id="Shortcut.MWT_exe.MWT_v1.0.8030.24534.1" WorkingDirectory="INSTALLDIR" Directory="ProgramMenuFolder" Name="MWT v1.0.8030.24534.lnk" Icon="IconFile1_MWT.ico" IconIndex="0" />
              </File>

              <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
                <RegistryValue Value="0" Type="string" KeyPath="yes" />
              </RegistryKey>
            </Component>

            <Component Id="Component.AsyncEnumerable.dll_1299152128" Guid="073f9241-dede-4c5d-9dff-ae3325181616">
              <File Id="AsyncEnumerable.dll_1299152128" Source="..\MifareWindowsTool\bin\Debug\AsyncEnumerable.dll" />
            </Component>

            <Component Id="Component.AsyncEnumerable.xml_599744740" Guid="073f9241-dede-4c5d-9dff-ae331683be47">
              <File Id="AsyncEnumerable.xml_599744740" Source="..\MifareWindowsTool\bin\Debug\AsyncEnumerable.xml" />
            </Component>

            <Component Id="Component.Beep_ACR122U.m4a_4159216283" Guid="073f9241-dede-4c5d-9dff-ae336df4f8e4">
              <File Id="Beep_ACR122U.m4a_4159216283" Source="..\MifareWindowsTool\bin\Debug\Beep_ACR122U.m4a" />
            </Component>

            <Component Id="Component.CliWrap.dll_752217802" Guid="073f9241-dede-4c5d-9dff-ae334807c760">
              <File Id="CliWrap.dll_752217802" Source="..\MifareWindowsTool\bin\Debug\CliWrap.dll" />
            </Component>

            <Component Id="Component.CliWrap.xml_1451625190" Guid="073f9241-dede-4c5d-9dff-ae335932130a">
              <File Id="CliWrap.xml_1451625190" Source="..\MifareWindowsTool\bin\Debug\CliWrap.xml" />
            </Component>

            <Component Id="Component.Gu.Localization.dll_430534635" Guid="073f9241-dede-4c5d-9dff-ae33af3afaee">
              <File Id="Gu.Localization.dll_430534635" Source="..\MifareWindowsTool\bin\Debug\Gu.Localization.dll" />
            </Component>

            <Component Id="Component.Gu.Localization.xml_417481303" Guid="073f9241-dede-4c5d-9dff-ae33c41efdce">
              <File Id="Gu.Localization.xml_417481303" Source="..\MifareWindowsTool\bin\Debug\Gu.Localization.xml" />
            </Component>

            <Component Id="Component.Gu.Wpf.Localization.dll_242052563" Guid="073f9241-dede-4c5d-9dff-ae33dfcecc91">
              <File Id="Gu.Wpf.Localization.dll_242052563" Source="..\MifareWindowsTool\bin\Debug\Gu.Wpf.Localization.dll" />
            </Component>

            <Component Id="Component.Gu.Wpf.Localization.xml_941459951" Guid="073f9241-dede-4c5d-9dff-ae33b2e16b3d">
              <File Id="Gu.Wpf.Localization.xml_941459951" Source="..\MifareWindowsTool\bin\Debug\Gu.Wpf.Localization.xml" />
            </Component>

            <Component Id="Component.Microsoft.Bcl.AsyncInterfaces.dll_3701943394" Guid="073f9241-dede-4c5d-9dff-ae33e26d3fb2">
              <File Id="Microsoft.Bcl.AsyncInterfaces.dll_3701943394" Source="..\MifareWindowsTool\bin\Debug\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>

            <Component Id="Component.Microsoft.Bcl.AsyncInterfaces.xml_3702008958" Guid="073f9241-dede-4c5d-9dff-ae336ee92cbd">
              <File Id="Microsoft.Bcl.AsyncInterfaces.xml_3702008958" Source="..\MifareWindowsTool\bin\Debug\Microsoft.Bcl.AsyncInterfaces.xml" />
            </Component>

            <Component Id="Component.MifareWindowsTool.exe_18065601" Guid="073f9241-dede-4c5d-9dff-ae339088e166">
              <File Id="MifareWindowsTool.exe_18065601" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.exe" />
            </Component>

            <Component Id="Component.MifareWindowsTool.exe.config_1729442971" Guid="073f9241-dede-4c5d-9dff-ae3358007667">
              <File Id="MifareWindowsTool.exe.config_1729442971" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.exe.config" />
            </Component>

            <Component Id="Component.MifareWindowsTool.pdb_2748259687" Guid="073f9241-dede-4c5d-9dff-ae33aa7b5099">
              <File Id="MifareWindowsTool.pdb_2748259687" Source="..\MifareWindowsTool\bin\Debug\MifareWindowsTool.pdb" />
            </Component>

            <Component Id="Component.Newtonsoft.Json.dll_4165841632" Guid="073f9241-dede-4c5d-9dff-ae33fa62c6b5">
              <File Id="Newtonsoft.Json.dll_4165841632" Source="..\MifareWindowsTool\bin\Debug\Newtonsoft.Json.dll" />
            </Component>

            <Component Id="Component.Newtonsoft.Json.xml_214051364" Guid="073f9241-dede-4c5d-9dff-ae33a7cb403c">
              <File Id="Newtonsoft.Json.xml_214051364" Source="..\MifareWindowsTool\bin\Debug\Newtonsoft.Json.xml" />
            </Component>

            <Component Id="Component.ORMi.dll_3973642272" Guid="073f9241-dede-4c5d-9dff-ae336ec21850">
              <File Id="ORMi.dll_3973642272" Source="..\MifareWindowsTool\bin\Debug\ORMi.dll" />
            </Component>

            <Component Id="Component.ORMi.pdb_1972828200" Guid="073f9241-dede-4c5d-9dff-ae3395a40d3c">
              <File Id="ORMi.pdb_1972828200" Source="..\MifareWindowsTool\bin\Debug\ORMi.pdb" />
            </Component>

            <Component Id="Component.ORMi.xml_443349025" Guid="073f9241-dede-4c5d-9dff-ae331981829f">
              <File Id="ORMi.xml_443349025" Source="..\MifareWindowsTool\bin\Debug\ORMi.xml" />
            </Component>

            <Component Id="Component.System.Buffers.dll_3646331166" Guid="073f9241-dede-4c5d-9dff-ae33a2a2b3e6">
              <File Id="System.Buffers.dll_3646331166" Source="..\MifareWindowsTool\bin\Debug\System.Buffers.dll" />
            </Component>

            <Component Id="Component.System.Buffers.xml_2079460793" Guid="073f9241-dede-4c5d-9dff-ae33d703a570">
              <File Id="System.Buffers.xml_2079460793" Source="..\MifareWindowsTool\bin\Debug\System.Buffers.xml" />
            </Component>

            <Component Id="Component.System.Reactive.dll_1819459705" Guid="073f9241-dede-4c5d-9dff-ae33a9359c6a">
              <File Id="System.Reactive.dll_1819459705" Source="..\MifareWindowsTool\bin\Debug\System.Reactive.dll" />
            </Component>

            <Component Id="Component.System.Reactive.xml_1093945653" Guid="073f9241-dede-4c5d-9dff-ae33cd97fc80">
              <File Id="System.Reactive.xml_1093945653" Source="..\MifareWindowsTool\bin\Debug\System.Reactive.xml" />
            </Component>

            <Component Id="Component.System.Runtime.CompilerServices.Unsafe.dll_3984254244" Guid="073f9241-dede-4c5d-9dff-ae33e0647a28">
              <File Id="System.Runtime.CompilerServices.Unsafe.dll_3984254244" Source="..\MifareWindowsTool\bin\Debug\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>

            <Component Id="Component.System.Runtime.CompilerServices.Unsafe.xml_1254060169" Guid="073f9241-dede-4c5d-9dff-ae331295c481">
              <File Id="System.Runtime.CompilerServices.Unsafe.xml_1254060169" Source="..\MifareWindowsTool\bin\Debug\System.Runtime.CompilerServices.Unsafe.xml" />
            </Component>

            <Component Id="Component.System.Threading.Tasks.Extensions.dll_3736333522" Guid="073f9241-dede-4c5d-9dff-ae33b936b7ee">
              <File Id="System.Threading.Tasks.Extensions.dll_3736333522" Source="..\MifareWindowsTool\bin\Debug\System.Threading.Tasks.Extensions.dll" />
            </Component>

            <Component Id="Component.System.Threading.Tasks.Extensions.xml_3736267990" Guid="073f9241-dede-4c5d-9dff-ae33109d86b3">
              <File Id="System.Threading.Tasks.Extensions.xml_3736267990" Source="..\MifareWindowsTool\bin\Debug\System.Threading.Tasks.Extensions.xml" />
            </Component>

            <Component Id="Component.System.ValueTuple.dll_1714141178" Guid="073f9241-dede-4c5d-9dff-ae33673c9bdd">
              <File Id="System.ValueTuple.dll_1714141178" Source="..\MifareWindowsTool\bin\Debug\System.ValueTuple.dll" />
            </Component>

            <Component Id="Component.System.ValueTuple.xml_1714075646" Guid="073f9241-dede-4c5d-9dff-ae334d979f90">
              <File Id="System.ValueTuple.xml_1714075646" Source="..\MifareWindowsTool\bin\Debug\System.ValueTuple.xml" />
            </Component>

            <Component Id="Component.WPFHexaEditor.dll_1279040863" Guid="073f9241-dede-4c5d-9dff-ae3334d100bd">
              <File Id="WPFHexaEditor.dll_1279040863" Source="..\MifareWindowsTool\bin\Debug\WPFHexaEditor.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.dll_681806904" Guid="073f9241-dede-4c5d-9dff-ae330f22e35c">
              <File Id="Xceed.Wpf.AvalonDock.dll_681806904" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.Aero.dll_1231639615" Guid="073f9241-dede-4c5d-9dff-ae338dac8249">
              <File Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll_1231639615" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.Metro.dll_3242246231" Guid="073f9241-dede-4c5d-9dff-ae33c97bbf26">
              <File Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll_3242246231" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.AvalonDock.Themes.VS2010.dll_3371469107" Guid="073f9241-dede-4c5d-9dff-ae33fff42b97">
              <File Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll_3371469107" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>

            <Component Id="Component.Xceed.Wpf.Toolkit.dll_2661204828" Guid="073f9241-dede-4c5d-9dff-ae338043eb8b">
              <File Id="Xceed.Wpf.Toolkit.dll_2661204828" Source="..\MifareWindowsTool\bin\Debug\Xceed.Wpf.Toolkit.dll" />
            </Component>

            <Directory Id="ACR122_LibUsbK_Driver" Name="ACR122_LibUsbK_Driver">

              <Component Id="Component.dpinst32.exe_3223329303" Guid="073f9241-dede-4c5d-9dff-ae330c1c40ce">
                <File Id="dpinst32.exe_3223329303" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\dpinst32.exe" />
              </Component>

              <Component Id="Component.dpinst64.exe_3210091372" Guid="073f9241-dede-4c5d-9dff-ae3332bdddd0">
                <File Id="dpinst64.exe_3210091372" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\dpinst64.exe" />
              </Component>

              <Component Id="Component.dpscat.exe_3628530207" Guid="073f9241-dede-4c5d-9dff-ae338f115af5">
                <File Id="dpscat.exe_3628530207" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\dpscat.exe" />
              </Component>

              <Component Id="Component.InstallDriver.exe_2846790459" Guid="073f9241-dede-4c5d-9dff-ae33f4b2c7e8">
                <File Id="InstallDriver.exe_2846790459" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\InstallDriver.exe" />
              </Component>

              <Directory Id="amd64_" Name="amd64">

                <Component Id="Component.libusb0.dll_811534354" Guid="073f9241-dede-4c5d-9dff-ae33ca63e83c">
                  <File Id="libusb0.dll_811534354" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\amd64\libusb0.dll" />
                </Component>

                <Component Id="Component.libusbK.dll_811532091" Guid="073f9241-dede-4c5d-9dff-ae338dbec227">
                  <File Id="libusbK.dll_811532091" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\amd64\libusbK.dll" />
                </Component>

                <Component Id="Component.libusbK.sys_1180504903" Guid="073f9241-dede-4c5d-9dff-ae33e8af48b3">
                  <File Id="libusbK.sys_1180504903" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\amd64\libusbK.sys" />
                </Component>

                <Component Id="Component.WdfCoInstaller01009.dll_1828947225" Guid="073f9241-dede-4c5d-9dff-ae330c94aec9">
                  <File Id="WdfCoInstaller01009.dll_1828947225" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\amd64\WdfCoInstaller01009.dll" />
                </Component>

              </Directory>

              <Directory Id="x86_" Name="x86">

                <Component Id="Component.libusb0_x86.dll_1045928280" Guid="073f9241-dede-4c5d-9dff-ae33935bd684">
                  <File Id="libusb0_x86.dll_1045928280" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\x86\libusb0_x86.dll" />
                </Component>

                <Component Id="Component.libusbK.sys_3862679794" Guid="073f9241-dede-4c5d-9dff-ae33b95a98e8">
                  <File Id="libusbK.sys_3862679794" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\x86\libusbK.sys" />
                </Component>

                <Component Id="Component.libusbK_x86.dll_1046006575" Guid="073f9241-dede-4c5d-9dff-ae333a07aa13">
                  <File Id="libusbK_x86.dll_1046006575" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\x86\libusbK_x86.dll" />
                </Component>

                <Component Id="Component.WdfCoInstaller01009.dll_2402340604" Guid="073f9241-dede-4c5d-9dff-ae33e0e22acf">
                  <File Id="WdfCoInstaller01009.dll_2402340604" Source="..\MifareWindowsTool\bin\Debug\ACR122_LibUsbK_Driver\x86\WdfCoInstaller01009.dll" />
                </Component>

              </Directory>
            </Directory>

            <Directory Id="cs_CZ" Name="cs-CZ">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_254111484" Guid="073f9241-dede-4c5d-9dff-ae33a326a53a">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_254111484" Source="..\MifareWindowsTool\bin\Debug\cs-CZ\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="de" Name="de">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_4075546336" Guid="073f9241-dede-4c5d-9dff-ae3306aa0947">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_4075546336" Source="..\MifareWindowsTool\bin\Debug\de\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="dumps" Name="dumps">

              <Component Id="Component.blank_tag.dump_1322384938" Guid="073f9241-dede-4c5d-9dff-ae3326c41667">
                <File Id="blank_tag.dump_1322384938" Source="..\MifareWindowsTool\bin\Debug\dumps\blank_tag.dump" />
              </Component>

            </Directory>

            <Directory Id="es" Name="es">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_157516663" Guid="073f9241-dede-4c5d-9dff-ae33c7372f19">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_157516663" Source="..\MifareWindowsTool\bin\Debug\es\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="fr" Name="fr">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_605557272" Guid="073f9241-dede-4c5d-9dff-ae33d33b3870">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_605557272" Source="..\MifareWindowsTool\bin\Debug\fr\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="fr_CA" Name="fr-CA">

              <Component Id="Component.WPFHexaEditor.resources.dll_1439635725" Guid="073f9241-dede-4c5d-9dff-ae3300af8e70">
                <File Id="WPFHexaEditor.resources.dll_1439635725" Source="..\MifareWindowsTool\bin\Debug\fr-CA\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="fr_FR" Name="fr-FR">

              <Component Id="Component.MifareWindowsTool.resources.dll_1394368778" Guid="073f9241-dede-4c5d-9dff-ae33c8eced90">
                <File Id="MifareWindowsTool.resources.dll_1394368778" Source="..\MifareWindowsTool\bin\Debug\fr-FR\MifareWindowsTool.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="hu" Name="hu">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_1628693251" Guid="073f9241-dede-4c5d-9dff-ae3390353853">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_1628693251" Source="..\MifareWindowsTool\bin\Debug\hu\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="it" Name="it">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3410219798" Guid="073f9241-dede-4c5d-9dff-ae330f251f97">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_3410219798" Source="..\MifareWindowsTool\bin\Debug\it\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="ja_JP" Name="ja-JP">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_526276835" Guid="073f9241-dede-4c5d-9dff-ae3375fb8768">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_526276835" Source="..\MifareWindowsTool\bin\Debug\ja-JP\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="keys" Name="keys">

              <Component Id="Component.extended_std.keys_1928315074" Guid="073f9241-dede-4c5d-9dff-ae33d3210ce3">
                <File Id="extended_std.keys_1928315074" Source="..\MifareWindowsTool\bin\Debug\keys\extended-std.keys" />
              </Component>

              <Component Id="Component.french.keys_1558944794" Guid="073f9241-dede-4c5d-9dff-ae33bd8d6a0a">
                <File Id="french.keys_1558944794" Source="..\MifareWindowsTool\bin\Debug\keys\french.keys" />
              </Component>

              <Component Id="Component.std.keys_1213744335" Guid="073f9241-dede-4c5d-9dff-ae33ab2c8a0b">
                <File Id="std.keys_1213744335" Source="..\MifareWindowsTool\bin\Debug\keys\std.keys" />
              </Component>

            </Directory>

            <Directory Id="nfctools" Name="nfctools">

              <Component Id="Component.api_ms_win_core_kernel32_legacy_l1_1_0.dll_3917411356" Guid="073f9241-dede-4c5d-9dff-ae33071421f0">
                <File Id="api_ms_win_core_kernel32_legacy_l1_1_0.dll_3917411356" Source="..\MifareWindowsTool\bin\Debug\nfctools\api-ms-win-core-kernel32-legacy-l1-1-0.dll" />
              </Component>

              <Component Id="Component.api_ms_win_core_libraryloader_l1_2_0.dll_1177949089" Guid="073f9241-dede-4c5d-9dff-ae336eb250e1">
                <File Id="api_ms_win_core_libraryloader_l1_2_0.dll_1177949089" Source="..\MifareWindowsTool\bin\Debug\nfctools\api-ms-win-core-libraryloader-l1-2-0.dll" />
              </Component>

              <Component Id="Component.api_ms_win_core_localization_l1_2_0.dll_3518926889" Guid="073f9241-dede-4c5d-9dff-ae3313b65f98">
                <File Id="api_ms_win_core_localization_l1_2_0.dll_3518926889" Source="..\MifareWindowsTool\bin\Debug\nfctools\api-ms-win-core-localization-l1-2-0.dll" />
              </Component>

              <Component Id="Component.api_ms_win_core_processthreads_l1_1_1.dll_1180540306" Guid="073f9241-dede-4c5d-9dff-ae330c41a8b8">
                <File Id="api_ms_win_core_processthreads_l1_1_1.dll_1180540306" Source="..\MifareWindowsTool\bin\Debug\nfctools\api-ms-win-core-processthreads-l1-1-1.dll" />
              </Component>

              <Component Id="Component.api_ms_win_core_synch_l1_2_0.dll_4204579955" Guid="073f9241-dede-4c5d-9dff-ae33cb9143e5">
                <File Id="api_ms_win_core_synch_l1_2_0.dll_4204579955" Source="..\MifareWindowsTool\bin\Debug\nfctools\api-ms-win-core-synch-l1-2-0.dll" />
              </Component>

              <Component Id="Component.api_ms_win_core_timezone_l1_1_0.dll_3688861755" Guid="073f9241-dede-4c5d-9dff-ae332de0973a">
                <File Id="api_ms_win_core_timezone_l1_1_0.dll_3688861755" Source="..\MifareWindowsTool\bin\Debug\nfctools\api-ms-win-core-timezone-l1-1-0.dll" />
              </Component>

              <Component Id="Component.api_ms_win_security_cryptoapi_l1_1_0.dll_418354667" Guid="073f9241-dede-4c5d-9dff-ae33d01dafda">
                <File Id="api_ms_win_security_cryptoapi_l1_1_0.dll_418354667" Source="..\MifareWindowsTool\bin\Debug\nfctools\api-ms-win-security-cryptoapi-l1-1-0.dll" />
              </Component>

              <Component Id="Component.libcrypto.dll_1868535380" Guid="073f9241-dede-4c5d-9dff-ae33b8a085ce">
                <File Id="libcrypto.dll_1868535380" Source="..\MifareWindowsTool\bin\Debug\nfctools\libcrypto.dll" />
              </Component>

              <Component Id="Component.libfreefare.dll_4062421119" Guid="073f9241-dede-4c5d-9dff-ae336693a0fd">
                <File Id="libfreefare.dll_4062421119" Source="..\MifareWindowsTool\bin\Debug\nfctools\libfreefare.dll" />
              </Component>

              <Component Id="Component.liblzma_5.dll_4257902108" Guid="073f9241-dede-4c5d-9dff-ae335f0423eb">
                <File Id="liblzma_5.dll_4257902108" Source="..\MifareWindowsTool\bin\Debug\nfctools\liblzma-5.dll" />
              </Component>

              <Component Id="Component.libnfc.dll_1475745560" Guid="073f9241-dede-4c5d-9dff-ae33bb80d09a">
                <File Id="libnfc.dll_1475745560" Source="..\MifareWindowsTool\bin\Debug\nfctools\libnfc.dll" />
              </Component>

              <Component Id="Component.libnfc_crypto1_crack.exe_1258648187" Guid="073f9241-dede-4c5d-9dff-ae33036a43c3">
                <File Id="libnfc_crypto1_crack.exe_1258648187" Source="..\MifareWindowsTool\bin\Debug\nfctools\libnfc_crypto1_crack.exe" />
              </Component>

              <Component Id="Component.libusb0.dll_2806697923" Guid="073f9241-dede-4c5d-9dff-ae331960901c">
                <File Id="libusb0.dll_2806697923" Source="..\MifareWindowsTool\bin\Debug\nfctools\libusb0.dll" />
              </Component>

              <Component Id="Component.libwinpthread_1.dll_601654647" Guid="073f9241-dede-4c5d-9dff-ae3363569b1d">
                <File Id="libwinpthread_1.dll_601654647" Source="..\MifareWindowsTool\bin\Debug\nfctools\libwinpthread-1.dll" />
              </Component>

              <Component Id="Component.mfoc.exe_3111237814" Guid="073f9241-dede-4c5d-9dff-ae33a0cc4e15">
                <File Id="mfoc.exe_3111237814" Source="..\MifareWindowsTool\bin\Debug\nfctools\mfoc.exe" />
              </Component>

              <Component Id="Component.mfoc_hard.exe_687719136" Guid="073f9241-dede-4c5d-9dff-ae33c8459492">
                <File Id="mfoc_hard.exe_687719136" Source="..\MifareWindowsTool\bin\Debug\nfctools\mfoc_hard.exe" />
              </Component>

              <Component Id="Component.mifare_classic_format.exe_1691120826" Guid="073f9241-dede-4c5d-9dff-ae335ff7557a">
                <File Id="mifare_classic_format.exe_1691120826" Source="..\MifareWindowsTool\bin\Debug\nfctools\mifare-classic-format.exe" />
              </Component>

              <Component Id="Component.msys_2.0.dll_466783223" Guid="073f9241-dede-4c5d-9dff-ae3357f055b1">
                <File Id="msys_2.0.dll_466783223" Source="..\MifareWindowsTool\bin\Debug\nfctools\msys-2.0.dll" />
              </Component>

              <Component Id="Component.nfc_list.exe_2136866845" Guid="073f9241-dede-4c5d-9dff-ae3317872b38">
                <File Id="nfc_list.exe_2136866845" Source="..\MifareWindowsTool\bin\Debug\nfctools\nfc-list.exe" />
              </Component>

              <Component Id="Component.nfc_mfclassic.exe_3971743487" Guid="073f9241-dede-4c5d-9dff-ae3387499dc3">
                <File Id="nfc_mfclassic.exe_3971743487" Source="..\MifareWindowsTool\bin\Debug\nfctools\nfc-mfclassic.exe" />
              </Component>

              <Component Id="Component.nfc_mfsetuid.exe_1176291151" Guid="073f9241-dede-4c5d-9dff-ae3358d4b955">
                <File Id="nfc_mfsetuid.exe_1176291151" Source="..\MifareWindowsTool\bin\Debug\nfctools\nfc-mfsetuid.exe" />
              </Component>

              <Component Id="Component.pcsc_scan.exe_4017359983" Guid="073f9241-dede-4c5d-9dff-ae3383fc7061">
                <File Id="pcsc_scan.exe_4017359983" Source="..\MifareWindowsTool\bin\Debug\nfctools\pcsc_scan.exe" />
              </Component>

            </Directory>

            <Directory Id="pl_PL" Name="pl-PL">

              <Component Id="Component.WPFHexaEditor.resources.dll_351826316" Guid="073f9241-dede-4c5d-9dff-ae33f471fba6">
                <File Id="WPFHexaEditor.resources.dll_351826316" Source="..\MifareWindowsTool\bin\Debug\pl-PL\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="pt_BR" Name="pt-BR">

              <Component Id="Component.WPFHexaEditor.resources.dll_2096887967" Guid="073f9241-dede-4c5d-9dff-ae33649ec1bd">
                <File Id="WPFHexaEditor.resources.dll_2096887967" Source="..\MifareWindowsTool\bin\Debug\pt-BR\WPFHexaEditor.resources.dll" />
              </Component>

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_10544732" Guid="073f9241-dede-4c5d-9dff-ae335b3238cc">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_10544732" Source="..\MifareWindowsTool\bin\Debug\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="Resources" Name="Resources">

              <Component Id="Component.MWT.ico_1372400379" Guid="073f9241-dede-4c5d-9dff-ae33b22619b9">
                <File Id="MWT.ico_1372400379" Source="..\MifareWindowsTool\bin\Debug\Resources\MWT.ico" />
              </Component>

            </Directory>

            <Directory Id="ro" Name="ro">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2683983066" Guid="073f9241-dede-4c5d-9dff-ae33def8c168">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_2683983066" Source="..\MifareWindowsTool\bin\Debug\ro\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="ru" Name="ru">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2397664945" Guid="073f9241-dede-4c5d-9dff-ae3341f3fd1f">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_2397664945" Source="..\MifareWindowsTool\bin\Debug\ru\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="ru_RU" Name="ru-RU">

              <Component Id="Component.WPFHexaEditor.resources.dll_29612389" Guid="073f9241-dede-4c5d-9dff-ae33fa708c8a">
                <File Id="WPFHexaEditor.resources.dll_29612389" Source="..\MifareWindowsTool\bin\Debug\ru-RU\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="sv" Name="sv">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3039383174" Guid="073f9241-dede-4c5d-9dff-ae3321e49caf">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_3039383174" Source="..\MifareWindowsTool\bin\Debug\sv\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="zh_CN" Name="zh-CN">

              <Component Id="Component.WPFHexaEditor.resources.dll_3308132966" Guid="073f9241-dede-4c5d-9dff-ae3394b9dcbf">
                <File Id="WPFHexaEditor.resources.dll_3308132966" Source="..\MifareWindowsTool\bin\Debug\zh-CN\WPFHexaEditor.resources.dll" />
              </Component>

            </Directory>

            <Directory Id="zh_Hans" Name="zh-Hans">

              <Component Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3048739137" Guid="073f9241-dede-4c5d-9dff-ae33fe2d5662">
                <File Id="Xceed.Wpf.AvalonDock.resources.dll_3048739137" Source="..\MifareWindowsTool\bin\Debug\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
              </Component>

            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="DesktopFolder">

        <Component Id="Component.DesktopFolder.EmptyDirectory" Guid="073f9241-dede-4c5d-9dff-ae33aa06163d">
          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">

        <Component Id="Component.ProgramMenuFolder.EmptyDirectory" Guid="073f9241-dede-4c5d-9dff-ae33bdaef65c">
          <CreateFolder />

          <RegistryKey Root="HKCU" Key="Software\WixSharp\Used">
            <RegistryValue Value="0" Type="string" KeyPath="yes" />
          </RegistryKey>
        </Component>

      </Directory>

      <Component Id="TARGETDIR" Guid="073f9241-dede-4c5d-9dff-ae33debce5aa" KeyPath="yes">
        <CreateFolder />
        <RemoveFolder Id="TARGETDIR" On="uninstall" />
      </Component>

    </Directory>

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED" />

    <UI />

    <Icon Id="app_icon.ico" SourceFile="..\MifareWindowsTool\MWT.ico" />

    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallInitialize" />

    <UI>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="5">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="5">1</Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Icon Id="IconFile1_MWT.ico" SourceFile="..\MifareWindowsTool\MWT.ico" />

    <CustomAction Id="MWT_exe" ExeCommand="" FileKey="MWT_exe" Return="asyncNoWait" Execute="immediate" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="ARPCONTACT" Value="AVXTEC" />
    <Property Id="ARPPRODUCTICON" Value="app_icon.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/xavave/Mifare-Windows-Tool" />
    <Property Id="REINSTALLMODE" Value="omus" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Mifare Windows Tool (MWT)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[#MWT_exe]" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Feature Id="MWT_Binaries" Title="MWT Binaries" Absent="allow" Level="1">
      <ComponentRef Id="Component.MWT_exe" />
      <ComponentRef Id="TARGETDIR" />
    </Feature>

    <Feature Id="Complete" Title="Complete" Absent="allow" Level="1">
      <ComponentRef Id="Component.AsyncEnumerable.dll_1299152128" />
      <ComponentRef Id="Component.AsyncEnumerable.xml_599744740" />
      <ComponentRef Id="Component.Beep_ACR122U.m4a_4159216283" />
      <ComponentRef Id="Component.CliWrap.dll_752217802" />
      <ComponentRef Id="Component.CliWrap.xml_1451625190" />
      <ComponentRef Id="Component.Gu.Localization.dll_430534635" />
      <ComponentRef Id="Component.Gu.Localization.xml_417481303" />
      <ComponentRef Id="Component.Gu.Wpf.Localization.dll_242052563" />
      <ComponentRef Id="Component.Gu.Wpf.Localization.xml_941459951" />
      <ComponentRef Id="Component.Microsoft.Bcl.AsyncInterfaces.dll_3701943394" />
      <ComponentRef Id="Component.Microsoft.Bcl.AsyncInterfaces.xml_3702008958" />
      <ComponentRef Id="Component.MifareWindowsTool.exe_18065601" />
      <ComponentRef Id="Component.MifareWindowsTool.exe.config_1729442971" />
      <ComponentRef Id="Component.MifareWindowsTool.pdb_2748259687" />
      <ComponentRef Id="Component.Newtonsoft.Json.dll_4165841632" />
      <ComponentRef Id="Component.Newtonsoft.Json.xml_214051364" />
      <ComponentRef Id="Component.ORMi.dll_3973642272" />
      <ComponentRef Id="Component.ORMi.pdb_1972828200" />
      <ComponentRef Id="Component.ORMi.xml_443349025" />
      <ComponentRef Id="Component.System.Buffers.dll_3646331166" />
      <ComponentRef Id="Component.System.Buffers.xml_2079460793" />
      <ComponentRef Id="Component.System.Reactive.dll_1819459705" />
      <ComponentRef Id="Component.System.Reactive.xml_1093945653" />
      <ComponentRef Id="Component.System.Runtime.CompilerServices.Unsafe.dll_3984254244" />
      <ComponentRef Id="Component.System.Runtime.CompilerServices.Unsafe.xml_1254060169" />
      <ComponentRef Id="Component.System.Threading.Tasks.Extensions.dll_3736333522" />
      <ComponentRef Id="Component.System.Threading.Tasks.Extensions.xml_3736267990" />
      <ComponentRef Id="Component.System.ValueTuple.dll_1714141178" />
      <ComponentRef Id="Component.System.ValueTuple.xml_1714075646" />
      <ComponentRef Id="Component.WPFHexaEditor.dll_1279040863" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.dll_681806904" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.Aero.dll_1231639615" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.Metro.dll_3242246231" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.Themes.VS2010.dll_3371469107" />
      <ComponentRef Id="Component.Xceed.Wpf.Toolkit.dll_2661204828" />
      <ComponentRef Id="Component.dpinst32.exe_3223329303" />
      <ComponentRef Id="Component.dpinst64.exe_3210091372" />
      <ComponentRef Id="Component.dpscat.exe_3628530207" />
      <ComponentRef Id="Component.InstallDriver.exe_2846790459" />
      <ComponentRef Id="Component.libusb0.dll_811534354" />
      <ComponentRef Id="Component.libusbK.dll_811532091" />
      <ComponentRef Id="Component.libusbK.sys_1180504903" />
      <ComponentRef Id="Component.WdfCoInstaller01009.dll_1828947225" />
      <ComponentRef Id="Component.libusb0_x86.dll_1045928280" />
      <ComponentRef Id="Component.libusbK.sys_3862679794" />
      <ComponentRef Id="Component.libusbK_x86.dll_1046006575" />
      <ComponentRef Id="Component.WdfCoInstaller01009.dll_2402340604" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_254111484" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_4075546336" />
      <ComponentRef Id="Component.blank_tag.dump_1322384938" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_157516663" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_605557272" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_1439635725" />
      <ComponentRef Id="Component.MifareWindowsTool.resources.dll_1394368778" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_1628693251" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3410219798" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_526276835" />
      <ComponentRef Id="Component.extended_std.keys_1928315074" />
      <ComponentRef Id="Component.french.keys_1558944794" />
      <ComponentRef Id="Component.std.keys_1213744335" />
      <ComponentRef Id="Component.api_ms_win_core_kernel32_legacy_l1_1_0.dll_3917411356" />
      <ComponentRef Id="Component.api_ms_win_core_libraryloader_l1_2_0.dll_1177949089" />
      <ComponentRef Id="Component.api_ms_win_core_localization_l1_2_0.dll_3518926889" />
      <ComponentRef Id="Component.api_ms_win_core_processthreads_l1_1_1.dll_1180540306" />
      <ComponentRef Id="Component.api_ms_win_core_synch_l1_2_0.dll_4204579955" />
      <ComponentRef Id="Component.api_ms_win_core_timezone_l1_1_0.dll_3688861755" />
      <ComponentRef Id="Component.api_ms_win_security_cryptoapi_l1_1_0.dll_418354667" />
      <ComponentRef Id="Component.libcrypto.dll_1868535380" />
      <ComponentRef Id="Component.libfreefare.dll_4062421119" />
      <ComponentRef Id="Component.liblzma_5.dll_4257902108" />
      <ComponentRef Id="Component.libnfc.dll_1475745560" />
      <ComponentRef Id="Component.libnfc_crypto1_crack.exe_1258648187" />
      <ComponentRef Id="Component.libusb0.dll_2806697923" />
      <ComponentRef Id="Component.libwinpthread_1.dll_601654647" />
      <ComponentRef Id="Component.mfoc.exe_3111237814" />
      <ComponentRef Id="Component.mfoc_hard.exe_687719136" />
      <ComponentRef Id="Component.mifare_classic_format.exe_1691120826" />
      <ComponentRef Id="Component.msys_2.0.dll_466783223" />
      <ComponentRef Id="Component.nfc_list.exe_2136866845" />
      <ComponentRef Id="Component.nfc_mfclassic.exe_3971743487" />
      <ComponentRef Id="Component.nfc_mfsetuid.exe_1176291151" />
      <ComponentRef Id="Component.pcsc_scan.exe_4017359983" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_351826316" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_2096887967" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_10544732" />
      <ComponentRef Id="Component.MWT.ico_1372400379" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2683983066" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_2397664945" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_29612389" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3039383174" />
      <ComponentRef Id="Component.WPFHexaEditor.resources.dll_3308132966" />
      <ComponentRef Id="Component.Xceed.Wpf.AvalonDock.resources.dll_3048739137" />
      <ComponentRef Id="Component.DesktopFolder.EmptyDirectory" />
      <ComponentRef Id="Component.ProgramMenuFolder.EmptyDirectory" />
      <ComponentRef Id="TARGETDIR" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="MWT_exe" After="InstallExecute"> (NOT Installed) </Custom>
    </InstallExecuteSequence>

  </Product>
</Wix>

